@{
  ViewData["Title"] = "About";
}
<h2>@ViewData["Title"] the Sacrament Planner</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>Our app helps you easily create a sacrement meeting plan. It was developed in 2018 to quickly create sacrament programs for your ward.</p>

<p>It was developed by David Stoddard, Cole Cannon, and Kevin Thompson.</p>

<h2>Church Address and Time</h2>
<p>Meetings begin at 9:00 am</p>
<address>
  One Planner Way<br />
  Redmond, WA 98052-6399<br />
</address>
