@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>Bishop Jones <br /><abbr title="Phone">P:</abbr> 425.123-4567</p>
<p>First Counselor, Brother Smith <br /><abbr title="Phone">P:</abbr> 425.123.9876</p>
<p>Second Counsleor, Brother Green <br /><abbr title="Phone">P:</abbr> 425.123.1234</p>
<p>Executive Secretary, Brother Miller <br /><abbr title="Phone">P:</abbr> 425.123.0001</p>

<address>
    One Planner Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:plannersupport@sacrementplanner.com">plannersupport@sacrementplanner.com</a><br />
</address>
